nav{
	position: fixed;
    right: 0;
    width: 15vw;
    height: 100vh;
    z-index: 1000;
}
.menu__items{
    margin:0;
    padding:0;
    writing-mode: vertical-lr;
    list-style-type: none;
    height: 100%;
    width: 100%;
}

.menu__item{
    height: 100%;
    width: 100%;
}
.menu__item__link{
    color: rgba(255,255,255,0.65);
    width: 100%;
    cursor: pointer;
}
.menu__item__link:hover{
    color: white;
}
.menu__item__link--focus{
    color: white!important;
}

@media only screen and (min-width: 768px) {
}